.select {
	padding: 8px;
	color: var(--color-text);
	background-color: var(--color-background);
	border-radius: 8px;
	border: 2px solid var(--color-border);

	transition: border-color 0.1s ease-in-out;
}

.select:hover {
	border-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
	.select:hover {
		border-color: rgba(255, 255, 255, 0.2);
	}
}
