.toast {
	width: calc(100% - 8px);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 8px;
	gap: 4px;
	border-radius: 8px;
	font-size: 14px;
}

.error {
	background-color: rgba(255, 0, 0, 0.2);
	color: #660000;
}

@media (prefers-color-scheme: dark) {
	.error {
		color: #ff9999;
	}
}
